<li id="section-{{sectionno}}" class="section main clearfix dixinurmouth {{{style}}}" role="region" aria-label="{{{sectionname}}}">
    <span class="hidden sectionname">{{{sectionname}}}</span>
    <div class="left side">{{{leftcontent}}}</div>
    <div class="right side">{{{rightcontent}}}</div>
    <div class="content">
        <h3 class="sectionname {{{headerclasses}}}">
            <span>{{{sectionname}}}</span>
        </h3>
        {{{availability}}}
        <div class="summary">
            {{{summary}}}
        </div>
        {{{content}}}
    </div>
</li>
