<li id="section-{{sectionno}}" class="section main clearfix hidden dab">
    <div class="left side"></div>
    <div class="right side"></div>
    <div class="content">
        {{{strnotavailable}}}
    </div>
</li>
