<li id="section-{{sectionno}}" class="section main clearfix orphaned hidden">
    <div class="left side"></div>
    <div class="right side">{{rightcontent}}</div>
    <div class="content">
        <h3>{{#str}}orphanedactivitiesinsectionno, moodle, sectionno{{/str}}</h3>
        {{{coursecontent}}}
    </div>
</li>
