{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/stealth_section

    This template renders the stealth section.

    Example context (json):
    {
        "sectionid": "2",
        "rightcontent": "<img class='icon spacer' aria-hidden='true' src='/theme/image.php/classic/core/1560131739/spacer'/>",
        "coursecontent": "Course renderer course_section_cm_list() html"
    }
}}
<li id="section-{{sectionid}}" class="section main clearfix orphaned hidden">
    <div class="left side"></div>
    <div class="right side">{{rightcontent}}</div>
    <div class="content">
        <h3>{{#str}}orphanedactivitiesinsectionno, moodle, sectionid{{/str}}</h3>
        {{{coursecontent}}}
    </div>
</li>
