<div class="">
    <img class="w-25 mb-4" src="{{{img}}}">
    <p>Description of what you can find on MoodleNet and that you will be directed out of the Moodle site.
        Description of what you can find on MoodleNet and that you will be directed out of the Moodle site.
        Description of what you can find on MoodleNet and that you will be directed out of the Moodle site.
        Description of what you can find on MoodleNet and that you will be directed out of the Moodle site.
        Description of what you can find on MoodleNet and that you will be directed out of the Moodle site.
    </p>
    <button class="btn btn-secondary d-block w-50 mx-auto mt-5 mb-3">Browse MoodleNet</button>
    <h5 class="text-center">OR</h5>
    <div id="mnet-instance-form-{{uniqid}}" data-region="mnet-form">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <div class="input-group w-50 mx-auto my-3">
            <input type="text" class="form-control" data-var="mnet-link" placeholder="Enter you MoodleNet profile URL" aria-label="Enter you MoodleNet profile URL" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" data-action="submit" id="button-addon2">Browse</button>
            </div>
        </div>
    </div>
    <p class="text-center">It will be automatically saved on your Moodle profile.</p>
</div>
