/* admin.less */
.formtable tbody th {
    font-weight: normal;
    text-align: right;
}

.path-admin #assignrole {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.path-admin .admintable .leftalign {
    text-align: left;
}

.path-admin .admintable.environmenttable .name,
.path-admin .admintable.environmenttable .info,
.path-admin #assignrole .admintable .role,
.path-admin #assignrole .admintable .userrole,
.path-admin #assignrole .admintable .roleholder {
    white-space: nowrap;
}

.path-admin .incompatibleblockstable td.c0 {
    font-weight: bold;
}

#page-admin-course-category .addcategory {
    padding: 10px;
}

#page-admin-course-index .editcourse {
    margin: 20px auto;
}

#page-admin-course-index .editcourse th,
#page-admin-course-index .editcourse td {
    padding-left: 10px;
    padding-right: 10px;
}

.timewarninghidden {
    display: none;
}

#page-admin-qtypes #qtypes div,
#page-admin-qtypes #qtypes form,
#page-admin-qbehaviours #qbehaviours div,
#page-admin-qbehaviours #qbehaviours form {
    display: inline;
}

#page-admin-qtypes #qtypes img.spacer,
#page-admin-qbehaviours #qbehaviours img.spacer {
    width: 16px;
}

#page-admin-qbehaviours .cell.c3,
#page-admin-qtypes .cell.c3 {
    font-size: $font-size-sm;
}

#page-admin-lang .generalbox,
#page-admin-course-index .singlebutton,
#page-admin-course-index .addcategory,
#page-course-index .buttons,
#page-course-index-category .buttons,
#page-admin-course-category .addcategory,
#page-admin-stickyblocks .generalbox,
#page-admin-maintenance .buttons,
#page-admin-course-index .buttons,
#page-admin-course-category .buttons,
#page-admin-index .copyright,
#page-admin-index .copyrightnotice,
#page-admin-index .adminerror .singlebutton,
#page-admin-index .adminwarning .singlebutton,
#page-admin-index #layout-table .singlebutton {
    text-align: center;
    margin-bottom: 1em;
}

.path-admin-roles .capabilitysearchui {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacer;
}

#page-admin-roles-define .topfields {
    margin: 1em 0 2em;
}

#page-admin-roles-override .capcurrent,
#page-admin-roles-define .capdefault {
    background-color: $table-hover-bg;
}

#page-filter-manage .backlink,
.path-admin-roles .backlink {
    margin-top: 1em;
}

#page-admin-roles-explain #chooseuser h3,
#page-admin-roles-usersroles .contextname {
    margin-top: 0;
}

#page-admin-roles-explain #chooseusersubmit {
    margin-top: 0;
    text-align: center;
}

#page-admin-roles-usersroles p {
    margin: 0;
}

#page-admin-roles-override .cell.c1,
#page-admin-roles-assign .cell.c3,
#page-admin-roles-assign .cell.c1 {
    padding-top: 0.75em;
}

#page-admin-roles-override .overridenotice,
#page-admin-roles-define .definenotice {
    margin: 1em 10% 2em 10%;
    text-align: left;
}

#page-admin-index .upgradekeyreq {
    min-width: 220px;
}

#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo span {
    display: block;
}

#page-admin-index .updateplugin div {
    margin-bottom: 0.5em;
}

#page-admin-user-user_bulk #users .fgroup {
    white-space: nowrap;
}

#page-admin-report-stats-index .graph {
    text-align: center;
    margin-bottom: 1em;
}

#page-admin-report-courseoverview-index .graph {
    text-align: center;
    margin-bottom: 1em;
}

#page-admin-lang .translator {
    border-width: 1px;
    border-style: solid;
}

// This is the CSS for the role assignment control.
.path-admin .roleassigntable {
    width: 100%;
}

.path-admin .roleassigntable td {
    vertical-align: top;
    padding: 0.2em 0.3em;
}

.path-admin .roleassigntable p {
    text-align: left;
    margin: 0.2em 0;
}

.path-admin .roleassigntable #existingcell,
.path-admin .roleassigntable #potentialcell {
    width: 42%;
}

// Targetting the label at the top.
.path-admin .roleassigntable #existingcell p > label:first-child,
.path-admin .roleassigntable #potentialcell p > label:first-child {
    font-weight: bold;
}

.path-admin .roleassigntable #buttonscell {
    width: 16%;
}

.path-admin .roleassigntable #buttonscell #assignoptions {
    font-size: $font-size-sm;
}

.path-admin .roleassigntable #removeselect_wrapper,
.path-admin .roleassigntable #addselect_wrapper {
    width: 100%;
}

.path-admin table.rolecap tr.rolecap th {
    text-align: left;
    font-weight: normal;
}

.path-admin .rolecap .hiddenrow {
    display: none;
}

.path-admin #defineroletable {
    .rolecap {
        .inherit,
        .allow,
        .prevent,
        .prohibit {
            text-align: center;
            padding: 0;
            min-width: 3.5em;
        }
    }
}

.path-admin .rolecap .cap-name,
.path-admin .rolecap .note {
    display: block;
    font-size: $font-size-sm;
    white-space: nowrap;
    font-weight: normal;
}

.path-admin .rolecap label {
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.path-admin,
.format-site {
    .header-maxwidth,
    .secondary-navigation .navigation .nav-tabs {
        max-width: none;
    }
}
.path-admin.path-admin-roles:not(.format-site),
.path-admin.path-admin-tool-lp {
    .header-maxwidth,
    .secondary-navigation .navigation .nav-tabs {
        max-width: $course-content-maxwidth;
    }
}

.plugincheckwrapper {
    width: 100%;
}

.environmentbox {
    margin-top: 1em;
}

#mnetconfig table {
    margin-left: auto;
    margin-right: auto;
}

.environmenttable .cell {
    padding: .15em .5em;
}

#trustedhosts .table {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#trustedhosts .standard {
    width: auto;
}

// This usage of legend is a bit weird,
// seems to be using them as error text
// that's only sometimes visible. Should
// look into sorting it.
#adminsettings legend {
    display: none;
}

#adminsettings fieldset.error {
    margin: .2em 0 .5em 0;
}

#adminsettings fieldset.error legend {
    display: block;
}

#admin-spelllanguagelist textarea {
    /* rtl:ignore */
    text-align: left;
    /* rtl:ignore */
    direction: ltr;
}

/* Styles for flags on admin settings */
.adminsettingsflags {
    float: right;
}

.adminsettingsflags label {
    margin-right: 7px;
}

.form-description pre,
.formsettingheading pre {
    /*rtl:ignore*/
    direction: ltr;
}

.form-item .form-setting .form-htmlarea {
    display: inline;
}

.form-item .form-setting .form-htmlarea .htmlarea {
    width: 640px;
    display: block;
}

.form-item .form-setting .form-multicheckbox ul {
    list-style: none;
    padding: 0;
    margin: 7px 0 0 0;
}

.form-item .form-setting .defaultsnext {
    display: inline-block;
}

.form-item .form-setting .locked-checkbox {
    margin-right: 0.2em;
    margin-left: 0.5em;
    display: inline;
}

.form-item .form-setting .form-password .unmask,
.form-item .form-setting .form-defaultinfo {
    display: inline-block;
}

.form-item .form-setting .form-defaultinfo {
    max-width: 100%;
    word-wrap: break-word;
}

#admin-emoticons td input {
    width: 8em;
}

#admin-emoticons td.c0 input {
    width: 4em;
}

.admin_colourpicker,
.admin_colourpicker_preview {
    display: none;
}

.jsenabled .admin_colourpicker_preview {
    display: inline;
}

@include media-breakpoint-up(md) {
    .jsenabled .admin_colourpicker {
        display: block;
        height: 102px;
        width: 410px;
        margin-bottom: 10px;
        box-sizing: content-box;
    }
    .admin_colourpicker .colourdialogue {
        float: left;
        border: 1px solid $input-border-color;
    }
    .admin_colourpicker .previewcolour {
        border: 1px solid $input-border-color;
        margin-left: 301px;
    }

    .admin_colourpicker .currentcolour {
        border: 1px solid $input-border-color;
        margin-left: 301px;
        border-top-width: 0;
    }
}

@include media-breakpoint-down(md) {
    .jsenabled .admin_colourpicker {
        height: 150px;
        margin-bottom: 10px;
        display: block;
        position: relative;
    }
    .admin_colourpicker .previewcolour {
        display: none;
    }
    .admin_colourpicker .currentcolour {
        position: absolute;
        border: 1px solid $border-color;
        top: 100px;
        left: 0;
    }

}
.admin_colourpicker .loadingicon {
    vertical-align: middle;
    margin-left: auto;
}

#page-admin-index #notice .checkforupdates {
    text-align: center;
}

#page-admin-index #page-content .alert a {
    font-weight: normal;
    text-decoration: underline;
}

// Plugins overview page at admin/plugins.php
#page-admin-plugins {
    #plugins-overview-panel {
        .info {
            display: inline-block;
            margin-right: 1em;

            [data-filterby].active {
                font-weight: bold;
            }
        }
        .updateavailableinstallall {
            margin-right: 1em;
        }
    }

    .checkforupdates {
        margin: 10px 0;

        .singlebutton {
            margin: 5px 0;
            padding: 0;

            div,
            input {
                margin: 0 3px 0 0;
            }
        }
    }

    .updateavailableinstallall {
        margin: 5px 0;
        padding: 0;

        div,
        input {
            margin: 0 3px 5px 0;
        }
    }

    #plugins-control-panel {
        .status-missing td,
        .deprecatedtype td {
            background-color: $state-warning-bg;
        }

        .pluginname {
            .componentname {
                font-size: $font-size-sm;
                color: $text-muted;
                margin-left: 22px;
            }
        }

        .version {
            .versionnumber {
                font-size: $font-size-sm;
                color: $text-muted;
            }
        }

        .uninstall {
            a {
                color: $danger;
            }
        }

        .notes {
            .label {
                margin-right: 3px;
            }

            .requiredby {
                font-size: $font-size-sm;
                color: $text-muted;
            }
        }
    }
}


// Plugins check page displayed during upgrade.
#plugins-check-page {

    // Plugins check table.
    #plugins-check {
        .status-missing,
        .deprecatedtype,
        .status-downgrade {
            td {
                background-color: $state-danger-bg;
            }
        }
    }
}

// Available plugin update notification.

#plugins-check-page,
#plugins-control-panel {
    .pluginupdateinfo {
        background-color: $state-info-bg;

        &.maturity50 {
            background-color: $state-danger-bg;
        }

        &.maturity100,
        &.maturity150 {
            background-color: $state-warning-bg;
        }
        padding: 5px;
        margin: 10px 0;

        @include border-radius(5px);

        .info {
            display: inline-block;
        }

        .separator:after {
            content: " | ";
        }

        .singlebutton {
            margin: 5px 0;
            padding: 0;

            div,
            input {
                margin: 0 3px 0 0;
            }
        }
    }
}

.plugins-management-confirm-buttons {
    > div {
        display: inline-block;
        margin: 1em 1em 1em 0;
    }

    .continue {
        padding: 0;

        div,
        input {
            margin: 0;
        }
    }
}

#page-admin-index .upgradepluginsinfo {
    text-align: center;
}

#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo .separator:after {
    content: " | ";
}

/** MNet networking */
#page-admin-mnet-peers .box.deletedhosts {
    margin-bottom: 1em;
    font-size: $font-size-sm;
}

#core-cache-plugin-summaries table,
#core-cache-store-summaries table {
    width: 100%;
}

#core-cache-lock-summary table,
#core-cache-definition-summaries table,
#core-cache-mode-mappings table {
    margin: 0 auto;
}

#core-cache-store-summaries .default-store td {
    font-style: italic;
}

#core-cache-rescan-definitions,
#core-cache-mode-mappings .edit-link,
#core-cache-lock-additional-actions .new-instance {
    margin-top: 0.5em;
    text-align: center;
}

.maintenancewarning {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    overflow: hidden;
    z-index: $zindex-dropdown;
}
.jsenabled .maintenancewarning {
    @include transition(0.2s);
}

.modal.modal-in-page {
    z-index: 0;
}

#page-admin-search {
    .adminpagetitle {
        margin-bottom: 0;
        border-bottom: none;
    }
    .adminpagepath {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0 0 1.5rem 0;
        li {
            + li:before {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                content: "#{$breadcrumb-divider}";
            }
        }
    }
    @media (min-width: 576px) {
        .container {
            overflow-wrap: break-word;
        }
    }
}

#page-admin-tasklogs {
    .task-class {
        font-size: $font-size-sm;
        color: $gray-600;
    }
}

.path-admin-tool-uploaduser {
    .uuwarning {
        background-color: $state-warning-bg;
    }

    .uuerror {
        background-color: $state-danger-bg;
    }

    .uuinfo {
        background-color: $state-success-bg;
    }
}

// Styles for admin tool xmldb.
.path-admin-tool-xmldb a[name="lastused"] {
    padding-top: 50px;
}

// Styles for admin tool capability.
.path-admin-tool-capability {
    [data-search="capability"] {
        min-width: 675px;
    }

    .comparisontable {
        margin-top: 150px;
        th,
        td {
            vertical-align: middle;
            padding: 0.4em 0.5em 0.3em;
        }

        thead th {
            vertical-align: bottom;
            background: none;
            div {
                position: relative;
                > a {
                    position: absolute;
                    top: -1.75em;
                    left: 1em;
                    width: 150px;
                    text-align: left;
                    margin-bottom: 1em;
                    text-indent: -1.45em;
                    -webkit-transform-origin: top left;
                    -moz-transform-origin: top left;
                    -ms-transform-origin: top left;
                    -o-transform-origin: top left;
                    -webkit-transform: rotate(315deg);
                    -moz-transform: rotate(315deg);
                    -ms-transform: rotate(315deg);
                    -o-transform: rotate(315deg);
                }
            }
        }

        tbody th {
            background-color: #eee;
            text-align: right;
            border: 1px solid #dfdfdf;
            span {
                display: block;
                color: #666;
                font-size: 80%;
            }
        }

        tbody td {
            border: 1px solid #dfdfdf;
        }

        .inherit {
            color: #666;
        }

        .allow {
            background-color: #060;
            font-weight: bold;
            color: white;
        }

        .prevent {
            background-color: #ad6704;
            font-weight: bold;
            color: white;
        }

        .prohibit {
            background-color: #800;
            font-weight: bold;
            color: white;
        }
    }
}

.path-admin-tool-admin_presets {
    .admin_presets_error {
        color: red;
        text-align: center;
    }

    .admin_presets_success {
        color: green;
        text-align: center;
    }

    .adminpreset_appdescription {
        font-size: small;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

#page-admin-tool-behat-index {
    .steps-definitions {
        margin: 1rem auto;
        .step {
            margin: 1rem 0 0 0;
            border: 1px solid #eee;
            padding: 1rem;
        }
        .stepdescription {
            font-style: italic;
        }
        .stepcontent {
            margin: 1rem 0;
        }
        .steptype {
            color: #1467a6;
            margin-right: 1ex;
        }
        .stepapipath {
            font-family: monospace;
            font-size: smaller;
        }
        .stepregex {
            color: #060;
        }
    }

    .steprequiredfields {
        font-weight: bold;
        font-size: 1em;
        margin-top: 1em;
    }
}

// Styles for the Brickfield Accessibility tool.
.tool_brickfield_floatprinticon {
    margin-top: -30px;
    float: right;
}

.tool_brickfield_analysisbutton {
    width: 100%;
    text-align: center;
}

/* Advanced Page CSS */

#tool_brickifeld_advanced_page {
    margin: 20px 20px 20px 10px;
}

.tool_brickfield_banner_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    > img {
        height: 50px;
    }
}

.tool_brickfield_banner > p {
    text-align: center;
}

.tool_brickfield_grid_heading {
    display: flex;
    font-family: 'Varela Round', Sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #040d29;
    padding-bottom: 4px;
    > img {
        height: 30px;
        padding-right: 16px;
    }
}

.tool_brickfield_grid_content {
    color: #040d29;
    font-size: 16px;
    line-height: 1.4em;
}

.tool_brickfield_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px 30px;
    > div {
        margin: 10px;
        padding: 20px;
        flex-basis: 30%;
        border: 1px solid grey;
        max-width: 500px;
        min-width: 250px;
        flex-grow: 4;
        border-radius: 15px 15px 15px 50px;
    }
}

.tool_brickfield_footer {
    text-align: center;
    > a {
        font-size: 18px;
        letter-spacing: 1px;
        color: #fff;
        background-color: #4054b2;
        border-radius: 5px;
        padding: 15px 50px;
        transition: 0.3s;
        margin-bottom: 20px;
        &:hover {
            color: #fff;
            background-color: #253687;
            text-decoration: none;
        }
    }
    > p {
        margin-bottom: 25px;
    }
}

// Styles for data registry.
.nav-pills .nav-pills {
    margin-left: 1rem;
}
.data-registry > .top-nav > * {
    margin-right: 0.5rem;
}
/*Extra attribute selection to have preference over bs2's .moodle-actionmenu[data-enhance] */
.data-registry > .top-nav > .singlebutton,
.data-registry > .top-nav > .moodle-actionmenu[data-owner='dataregistry-actions'] {
    display: inline-block;
}

.data-registry .context-tree {
    height: 70vh;
    overflow-y: scroll;
}

[data-region="data-requests-table"] .moodle-actionmenu {
    min-width: 150px;
}

.context-level-view {
    margin: 1em;
}

/**
 * Styles for admin tool page.
 */
.path-admin-tool-filetypes .generaltable {
    /* Fix bad default table wrap (caused by the long mimetype field). */
    .c0,
    .c1,
    .c2,
    th {
        white-space: nowrap;
    }

    /* Formatting for deleted lines. */
    .deleted .c0 {
        img {
            opacity: 0.2;
        }
        span {
            text-decoration: line-through;
        }
    }

    /* Custom types show bold */
    .nonstandard {
        font-weight: bold;
    }
}

// Styles for admin tool install addon.
#page-admin-tool-installaddon-index #installfromrepobox {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    .singlebutton {
        display: inline-block;
        input[type=submit] {
            padding: 1em;
        }
    }
}

// Styles for admin tool langimport.
#page-admin-tool-langimport-index {
    .langimport {
        margin: auto;
        float: none;
        width: 100%;
    }
    #menuuninstalllang,
    #menupack {
        height: 300px;
    }
}

// Styles for admin tool lp.
.path-badges {
    [data-region="competencylinktree"] ul {
        cursor: pointer;
        li {
            list-style-type: none;
            > span {
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 4px;
            }
        }
        &[data-enhance="linktree"] {
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: border linear .2s, box-shadow linear .2s;
            border-radius: 4px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }
        [aria-selected="true"] > span {
            background-color: #dfdfdf;
        }
        [tabindex="0"] > span {
            border: 2px solid #0070a8;
        }
    }
}
.path-admin-tool-lp {
    .progresstext {
        display: inline-block;
        vertical-align: top;
    }

    .progress {
        width: 100%;
        display: inline-block;
        .bar {
            min-width: 3em;
        }
    }
    span.currentdragtarget {
        border: 1px dashed;
    }
    .competencyactionsmenu {
        display: inline-block;
        vertical-align: text-top;
    }
    #region-main {
        overflow-x: visible;
    }
    [data-region] .generaltable.fullwidth {
        clear: both;
    }
    .competency-rule-points {
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        table input {
            margin-bottom: 0;
        }
        tr[data-competency] th {
            font-weight: normal;
        }
        input[type="number"] {
            width: 50px;
        }
    }
    [data-region="managecompetencies"],
    [data-region="plans"],
    [data-region="competencymovetree"],
    [data-region="competencylinktree"] {
        ul {
            cursor: pointer;
            li {
                list-style-type: none;
                > span {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 4px;
                    padding-right: 4px;
                    border-radius: 4px;
                }
            }
        }
        [tabindex="0"] > span {
            border: 2px solid #0070a8;
        }
        [aria-selected="true"] > span {
            background-color: #dfdfdf;
        }
    }
    [data-region="managecompetencies"] ul[data-enhance="tree"],
    [data-region="plans"] ul[data-enhance="tree"],
    [data-region="competencylinktree"] ul[data-enhance="linktree"],
    [data-region="competencymovetree"] ul[data-enhance="movetree"] {
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border linear .2s, box-shadow linear .2s;
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    [data-region="filtercompetencies"] input {
        margin-left: 10px;
    }

    [data-region="link-buttons"],
    [data-region="move-buttons"] {
        text-align: center;
    }
    [data-region="competencyruleconfig"] {
        [data-region="rule-base"] {
            display: table;
            width: 100%;
        }
        [data-region="rule-outcome"],
        [data-region="rule-type"] {
            display: table-row;

            label {
                padding-right: 10px;
            }

            label,
            select {
                display: table-cell;
            }
        }
    }
}

.path-admin-tool-lp [data-region="competencylinktree"] > ul,
.path-badges [data-region="competencylinktree"] > ul {
    overflow-y: auto;
    height: 400px;
}

.path-admin-tool-lp [data-region="competencyruleconfig"] [data-region="rule-outcome"] select,
.path-admin-tool-lp [data-region="competencyruleconfig"] [data-region="rule-type"] select,
.path-admin-tool-lp [data-region="competencylinktree"] select,
.path-badges [data-region="competencylinktree"] select {
    width: 100%;
}

.competency-heading {
    margin-bottom: 15px;
    h4 {
        margin: 0;
    }
}

/** Styles required for menubar js */

.tool-lp-menu {
    margin: 0;
    li {
        float: left;
        position: relative;
        list-style-type: none;
        white-space: nowrap;
    }
    .tool-lp-sub-menu {
        position: absolute;
        list-style: none;
        margin: 0;
        top: -10px;
        li {
            float: none;
        }
        &[aria-hidden=false] {
            display: block;
        }
        /** This highlighting is copied from bootstrap - but can be overridden by a theme */
        .menu-focus a {
            color: #fff;
            text-decoration: none;
            background-color: #00699e;
            background-image: linear-gradient(to bottom, #0070a8, #005f8f);
            background-repeat: repeat-x;
        }
    }
    ul[aria-hidden=true] {
        display: none;
    }
    .caret {
        margin: 8px;
    }
    &.tool-lp-menu-open-left .tool-lp-sub-menu {
        left: auto;
        right: 0;
    }
}

/** check box and radio button on configure scale dialogue */
input[type="radio"].tool_lp_scale_default,
input[type="checkbox"].tool_lp_scale_proficient {
    margin-top: 0;
}

/** User evidence */
.user-evidence-documents {
    margin: 10px 20px;
    list-style: none;
}

.user-evidence-competencies,
.user-evidence-documents li {
    margin-bottom: 5px;
    word-break: break-all;
}

[data-region="user-evidence-list"] .user-evidence-competencies,
[data-region="user-evidence-list"] .user-evidence-documents {
    margin: 0;
    list-style: none;
}

.user-competency-course-navigation {
    select {
        display: none;
    }
    span {
        max-width: 100%;
        overflow: hidden;
    }
}

/** Competency grader */
.competency-grader textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

ul.competency-tree img {
    width: 16px;
    height: 16px;
}

[data-region="managecompetencies"] a .icon,
[data-region="plan-page"] a .icon {
    color: initial;
}

[data-region="managecompetencies"] h2 a .icon,
[data-region="plan-page"] h2 a .icon {
    font-size: smaller;
}

// Styles for message inbound tool.
#page-admin-tool-messageinbound-index {
    .handler-function {
        display: block;
        padding: 0 0.5em;
        color: #888;
        font-size: 0.75em;
    }
    .state,
    .edit {
        text-align: center;
    }
}

// Styles for multi-factor authentication (MFA) tool.
input.tool-mfa-verification-code,
.tool-mfa-verification-code input {
    /* Some elements must be important to override form element*/
    font-size: 1.5em !important; /* stylelint-disable-line declaration-no-important */
    font-family: monospace;
    text-align: center;
    letter-spacing: 1.0em;
    font-weight: bold;
}

.tool-mfa-factor-choose,
.tool-mfa-factor-choose:hover {
    background-color: #fff;
    border-color: #3584c9;
    border-width: 1px;
    width: 100%;
    border-radius: 0.5rem;
}

.tool-mfa-factor-choose:hover,
.tool-mfa-factor-choose:hover .tool-mfa-factor-choose-text {
    text-decoration: underline;
    color: #094478;
    background-color: #cfe2f2;
}

.mfa-verify-form {
    input[type="submit"] {
        height: 50px;
        font-size: 1.05rem;
    }

    .invalid-feedback {
        font-weight: 700;
    }

    .form-group.fitem,
    .form-group.fitem > span,
    .form-group.fitem > span > input {
        width: 100%;
    }
}

/**
 * Styles for admin tool mobile.
 */
#page-admin-tool-mobile-subscription {
    dl dt {
        clear: both;
        display: inline-block;
        width: 40%;
        min-width: 100px;
        vertical-align: top;
        padding-top: 1px;
    }

    dl dd {
        display: inline-block;
        width: 59%;
        margin-left: 1%;
        vertical-align: top;
        padding-top: 1px;
    }

    dl.list-narrow dt {
        width: 30%;
    }

    dl.list-narrow dd {
        width: 69%;
    }

    progress {
        width: 100%;
    }
}

/* jquery-eu-cookie-law-popup styles */
.eupopup-container {
    background-color: rgba(25, 25, 25, 0.9);
    color: #efefef;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    display: none;
    z-index: 9999999;
    .eupopup-body a {
        color: #fff;
        text-decoration: underline;
    }
}

.behat-site .eupopup-container-bottom {
    position: absolute;
}

.eupopup-container-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.eupopup-closebutton {
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
    color: #a2a2a2;
    opacity: 0.2;
    position: absolute;
    font-family: helvetica, arial, verdana, sans-serif;
    top: 0;
    right: 0;
    padding: 5px 10px;
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.eupopup-buttons {
    padding: 7px 0 5px 0;
}

.eupopup-button {
    margin: 0 10px;
    &:hover,
    &:focus {
        text-decoration: underline;
        color: #f6a21d;
    }
}

/* tool_policy styles */
.eupopup-body {
    li {
        display: inline;
        &:before {
            content: ", ";
        }
        &:first-child:before {
            content: "";
        }
    }
    ul {
        padding: 0;
        margin: 0 0 3px;
    }
}

.eupopup-head {
    font-size: 1.2em;
    font-weight: bold;
    padding: 7px;
}

.eupopup-button_1 {
    font-weight: bold;
    font-size: 14px;
}

.eupopup-button_2 {
    display: none;
}

.eupopup-button {
    color: #f6a21d;
}

.policy-heading .policy-viewdoc-buttons {
    text-align: center;
    margin: 15px;
}

#page-admin-tool-policy-acceptances .colselect {
    width: 35px;
}

/* tool_profiling styles */
.path-admin-tool-profiling {
    .profilingruntable .label {
        font-weight: bold;
    }
    .profiling_worse {
        color: red;
    }
    .profiling_better {
        color: green;
    }
    .profiling_same {
        color: dimgrey;
    }
    .profiling_important,
    .flexible .referencerun {
        font-weight: bold;
    }
    .flexible {
        margin-left: auto;
        margin-right: auto;
    }
}

// Task management styles
#page-admin-tool-task-scheduledtasks,
#page-admin-tool-task-runningtasks {
    .task-class {
        display: block;
        padding: 0 0.5em;
        color: #888;
        font-size: 0.75em;
    }
}
#page-admin-tool-task-scheduledtasks {
    input[type=text] {
        /*rtl:ignore*/
        direction: ltr;
    }
    .task-runnow,
    .task-clearfaildelay {
        font-size: 0.75em;
    }
}
.path-admin .task-output {
    color: #fff;
    background: #333;
    padding: 1em;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

// Display template
[data-region="displaytemplateexample"] {
    border-radius: 4px;
    border: 1px inset #e3e3e3;
    padding: 1em;
}

// User tours
div[data-flexitour="backdrop"] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

span[data-flexitour="container"] .modal-dialog {
    max-width: 400px;
    .modal-content .modal-header {
        border-bottom: 0;
        &.minimal {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .modal-content .modal-footer {
        justify-content: flex-start;
        border-top: 0;
    }
}

span[data-flexitour="container"].orphan {
    position: absolute;
    div[data-role="arrow"] {
        display: none;
    }
}

.path-admin-local-usertours .stepcreator .input-append {
    font-size: inherit;
}

.tour-actions {
    > ul {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        > li {
            background-color: #f5f5f5;
            border-radius: 6px;
            border: 1px solid #ccc;
            display: inline-block;
            margin: .5em;
            text-align: center;
            width: 13em;
            > a {
                height: 100%;
                display: block;
                padding: 1em;
            }
        }
    }
}

@media (max-width: 575.98px) {
    span[data-flexitour="container"] {
        margin-left: 10px;
        .modal-content {
            overflow-y: initial;
        }
        &.orphan {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
