// The class gradetreebox matches the pages displaying the gradebook
// "Gradebook setup" > "Simple view" and "Full view".
.gradetreebox {
    margin: 20px 0 30px 0;

    h4 {
        // Force back the base font-size to minimise width.
        font-size: $font-size-base;
    }

    th.cell,
    input[type=text] {
        // Fallback on the minimum width.
        width: auto;
    }

    input[type=text],
    select {
        // Remove the bottom margin to gain height.
        margin-bottom: 0;
    }
}

// Grade upgrade notice.
.core_grades_notices {
    .singlebutton {
        display: inline-block;
    }
}

.path-grade-report #maincontent + .urlselect {
    position: absolute;
    left: 40vw;
}

.path-grade-report-grader {
    #region-main {
        min-width: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        & > .card {
            width: auto;
            overflow-x: initial;
        }
        div[role="main"] {
            flex: 1 1 auto;
        }
    }
    [data-region="blocks-column"] {
        width: 100%;
        clear: both;
    }
}

.path-grade-report-grader,
.path-grade-report-user {
    .gradepass {
        color: $success;
    }
    .gradefail {
        color: $danger;
    }
}

.path-grade {
    #region-main {
        overflow-x: visible;
    }

    .user-heading .userinitials {
        width: 50px;
        height: 50px;
    }
}

// Rubrics
#page-grade-grading-manage {
    #activemethodselector {
        label {
            display: inline-block;
        }

        .helptooltip {
            margin-right: 0.5em;
        }
    }

    .actions {
        display: block;
        text-align: center;
        margin-bottom: 1em;

        .action {
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 150px;
            text-align: center;
            overflow: hidden;
            margin: 0.5em;
            padding: 1em;
            border: 1px solid $grade-manage-action-border-color;

            .action-text {
                position: relative;
                top: 0.4em;
                font-size: 14px;
                white-space: normal;
            }
        }
    }
}

#page-grade-grading-form-rubric-edit {
    .gradingform_rubric_editform .status {
        font-size: 70%;
    }
}

.gradingform_rubric {
    margin-bottom: 1em;
    $rubricPadding: 6px;

    // When doing evaluation on the rubrics table.
    &.evaluate .criterion .levels .level {
        &:hover,
        &.checked {
            background: $grade-criterion-level-hover-bg;
        }
        &.checked {
            border: none;
            border-left: 1px solid $border-color;
        }
    }

    .criterion {
        .description {
            vertical-align: top;
            padding: $rubricPadding;

            textarea {
                margin-bottom: 0;
                height: 115px;
            }
        }

        .definition {
            textarea {
                width: 80%;
                margin-bottom: 0;
            }
        }

        .score {
            margin-top: 5px;
            margin-right: 28px;
            font-style: italic;
            font-weight: bold;
            color: #{shift-color($success, 20%)};

            input {
                margin-bottom: 0;
            }
        }

        .level {
            vertical-align: top;
            padding: $rubricPadding;

            &.currentchecked {
                background: $grade-criterion-level-currentchecked-bg;
            }

            &.checked {
                background: $grade-criterion-level-checked-bg;
                border: 1px solid $grade-criterion-level-checked-border-color;
            }

            .delete {
                position: relative;
                width: 32px;
                height: 32px;
                margin-top: -32px;
                clear: both;
                float: right;

                input {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 24px;
                    width: 24px;
                    margin: 0;

                    &:hover {
                        background-color: $grade-criterion-level-delete-bg;
                    }
                }
            }
        }

        .scorevalue {
            input {
                // Should handle at least three chars with room to spare.
                float: none;
                width: 2em;

                &.hiddenelement,
                &.pseudotablink {
                    // Zero out the width if it's still in the block flow for some reason
                    // when hidden
                    width: 0;
                }
            }
        }

        .addlevel {
            vertical-align: top;
            padding-top: 6px;

            input {
                height: 30px;
                line-height: 1rem;
            }
        }
    }

    .addcriterion {
        margin-left: 5px;
        padding: 0;

        input {
            margin: 0;
            color: inherit;
            text-shadow: inherit;
            border: 0 none;
            line-height: inherit;
            background: transparent url([[pix:t/add]]) no-repeat 7px 8px;
            padding-left: 26px;
        }
        margin-bottom: 1em;
    }

    .options {
        clear: both;

        .option {
            label {
                margin: 0;
                padding: 0;
                font-size: inherit;
                font-weight: normal;
                line-height: 2em;
                color: inherit;
                text-shadow: none;
                background-color: transparent;
            }

            input {
                margin-left: 5px;
                margin-right: 12px;
            }
        }
    }
}

.grade-display {
    .description {
        font-size: 1rem;
    }
}
.criterion {
    .description {
        font-size: 1rem;
    }

    .criterion-toggle {
        .expanded-icon {
            display: block;
        }

        .collapsed-icon {
            display: none;
        }

        &.collapsed {
            .expanded-icon {
                display: none;
            }

            .collapsed-icon {
                display: block;
            }
        }
    }
}

// Set up grades layout.
.path-grade-edit-tree {
    .collapse-list {

        .unlist {
            padding-left: 2rem;

            [data-for="sectionnode"] {
                &:focus {
                    > .collapse-list-item:first-child {
                        background-color: $collapse-list-item-hover-bg;
                        border-color: $collapse-list-item-hover-border;
                    }
                }

                &[data-selected="true"] {
                    > .collapse-list-item:first-child {
                        background-color: $collapse-list-item-hover-bg;
                        border-color: $collapse-list-item-hover-border;
                        color: $blue;
                    }
                }

                .collapse-list-item-content {
                    &[aria-hidden="true"] {
                        display: none;
                    }
                }

                &[aria-expanded="true"] {
                    > .collapse-list-item {
                        .collapsed-icon {
                            display: none;
                        }
                    }
                }

                &[aria-expanded="false"] {
                    > .collapse-list-item {
                        .expanded-icon {
                            display: none;
                        }
                    }
                }
            }

            .collapse-list-item {
                padding: 0.5rem 1rem;
                cursor: pointer;

                .collapse-list-item-name {
                    font-weight: bold;
                }

                .collapse-list-link {
                    color: $gray-900;
                    padding: 0 0.2rem;
                    margin-right: 0.3rem;

                    i {
                        font-size: 12px;
                        width: 12px;
                        height: 12px;
                        margin: 0;
                    }
                }
            }
        }
    }

    .gradetree-wrapper {
        padding: 10px 10px;
        background-color: $gray-100;

        .setup-grades {
            h4 {
                margin: 0;
            }

            .column-rowspan {
                padding: 0;
                width: 24px;
                min-width: 24px;
                max-width: 24px;
            }

            .emptyrow {
                display: none;
            }

            .gradeitemdescription {
                font-weight: normal;
                padding-left: 24px;
            }

            &.table {

                tr {
                    &.spacer {
                        height: 0.5rem;
                    }

                    &[data-hidden="true"] {
                        display: none;
                    }

                    th {
                        vertical-align: bottom;
                        border: none;
                        text-align: left;
                        background-color: $gray-100;

                        &.rowspan {
                            padding: 0;
                            width: 24px;
                            min-width: 24px;
                        }
                    }

                    td {
                        min-width: 4.5em;
                        background-color: $gray-100;
                        border: none;
                        vertical-align: middle;

                        &.column-name {
                            .small {
                                font-size: 70%;
                            }

                            .itemselect {
                                margin-right: 15px;
                            }
                        }

                        &.column-weight {
                            .weightoverride {
                                margin-right: 5px;
                            }
                            min-width: 15em;
                        }

                        &.column-actions {
                            .dropdown-toggle::after {
                                display: none;
                            }
                        }

                        &.movehere {
                            padding: 0;

                            a.movehere {
                                display: block;
                                width: 100%;
                                margin: 5px 0 5px 0;
                                padding: 3px 0 3px 0;

                                hr {
                                    border-top: 2px dashed $gray-500;
                                    margin: 0;
                                }

                                &:hover {
                                    hr {
                                        border-top: 2px dashed $blue;
                                    }

                                }
                            }
                        }
                    }

                    &.category {
                        td {
                            background-color: $grade-table-td-bg;
                            border-top: 1px solid $gray-300;
                            border-bottom: 1px solid $gray-300;

                            &:first-child {
                                border-left: 1px solid $gray-300;
                            }

                            &:last-child {
                                border-right: 1px solid $gray-300;
                            }

                            &.column-name {
                                font-weight: bold;

                                div {
                                    display: flex;
                                    min-height: 30px;
                                    align-items: center;

                                    a {
                                        &.toggle-category {
                                            height: 24px;
                                            width: 24px;
                                            font-size: 12px;
                                            line-height: 24px;
                                            margin-right: 3px;

                                            &[aria-expanded="true"] .expanded,
                                            &[aria-expanded="false"] .collapsed {
                                                display: none;
                                            }

                                            i {
                                                font-size: 12px;
                                                width: 12px;
                                                height: 12px;
                                                color: $grade-table-toggle-icon-color;
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.item {
                        td {
                            background-color: $grade-table-td-bg;
                            border-top: 3px solid $gray-100;
                        }

                        &.categoryitem,
                        &.courseitem {
                            td {
                                min-width: 4.5em;
                                background-color: $gray-100;
                                border: none;
                                vertical-align: middle;

                                &.column-name {
                                    padding-left: 0;
                                }

                                &:not(.column-actions) {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        .badge-light {
            color: $grade-badge-color;
            background-color: $grade-badge-bg;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
        }

    }
}

/**
 * Grader report.
 */
.path-grade-report-grader {
    .gradeparent {
        tr .cell,
        .floater .cell {
            background-color: $pagination-bg;

            &.gradecell {
                .dropdown-menu {
                    &.show {
                        z-index: 1;
                    }
                }
            }
        }

        table,
        .cell {
            border-color: $table-border-color;
        }

        .heading .cell,
        .cell.category,
        .avg .cell {
            background-color: $gray-100;
        }

        table .clickable {
            cursor: pointer;
        }

        tr.heading {
            position: sticky;
            top: $navbar-height;
            z-index: 4;
        }

        tr.userrow {
            th {
                z-index: 2;

                &.actions-menu-active {
                    z-index: 3;
                }
            }
        }

        tr.lastrow {

            &:not(.userrow) {
                position: sticky;
                // Hack used by the observer to help detecting when the sticky last row is pinned. */
                bottom: -1px;

                &.pinned {
                    z-index: 4;
                }
            }

            td,
            th {
                border-top: 1px solid $table-border-color;
            }
        }

        th.header {
            left: 0;
            position: sticky;

            &#studentheader {
                z-index: 1;
            }
        }

        td.noborder {
            border-right: transparent;
        }
    }

    &.hasstickyfooter {
        .gradeparent {
            tr.lastrow {
                // Hack used by the observer to help detecting when the sticky 'Overall average' row is pinned when
                // sticky footer is present.
                bottom: calc(#{$stickyfooter-height} - 1px);
            }
        }
    }
}

/**
 * User report.
 */
.path-grade-report-user .user-grade {
    border: none;

    &.table {
        .levelodd {
            background-color: $table-accent-bg;
        }

        .leveleven {
            background-color: $table-bg;
        }
    }

    .column-contributiontocoursetotal,
    .column-range,
    .column-percentage,
    .column-weight {
        /*rtl:ignore*/
        direction: ltr;
    }
}

/**
 * Single view.
 */
.path-grade-report-singleview .reporttable {
    input[name^="finalgrade"] {
        width: 80px;
        display: inline-block;
    }
    .action-menu {
        display: inline-block;
        margin-left: 0.5rem;
        float: right;
    }
    .dropdown-toggle::after {
        display: none;
    }
}

.gradereport-grader-table {
    input[name^="grade"] {
        width: 80px;
        display: inline-block;
    }
    .dropdown-toggle::after {
        display: none;
    }
}

.search-widget {
    .dropdown-menu {
        padding: 0.8rem 1.2rem;

        &.wide {
            width: 350px;
        }

        &.narrow {
            width: 250px;
        }

        .dropdown-item {
            span {
                &.email {
                    color: $text-muted;
                }
            }
        }

        .dropdown-item:hover,
        .dropdown-item:active {
            span {
                color: $grade-search-hover-color;
            }
        }

        .searchresultscontainer {
            height: 178px;
            font-size: 90%;

            .searchresultitemscontainer {
                height: 178px;
                max-height: 178px;
                overflow: auto;
            }
        }

        .unsearchablecontentcontainer {
            border-top: 1px solid $grade-search-container-border-color;
            padding-top: 10px;
            font-size: 90%;
        }
    }
}

#fitem_id_submitbutton {
    padding-right: 2em;
}

.gradestatus {
    padding-top: 10px;
}

.gradestatus .icon {
    margin-right: 1rem;
}

/*
.gradingform_rubric.editor[.frozen|.editable]
  .criteria
    .criterion[.first][.last][.odd|.even]
        .controls
            .moveup
                [input type=submit]
            .delete
                [input type=submit]
            .movedown
                [input type=submit]
        .description
        .levels
            td.level[.first][.last][.odd|.even]
                div.level-wrapper
                    .definition
                        [textarea]
                    .score
                        span
                            [input type=text]
                    .delete
                        [input type=submit]
        .addlevel
            [input type=submit]
        .remark
            textarea
    .addcriterion
        [input type=submit]
  .options
    .optionsheading
    .option.OPTIONNAME

.gradingform_rubric[.review][.evaluate[.editable|.frozen]]
  .criteria
    .criterion[.first][.last][.odd|.even]
        .description
        .levels
            td.level[.first][.last][.odd|.even]
                div.level-wrapper
                    div.radio
                        input
                    .definition
                    .score
                        span

*/
.gradingform_rubric_editform .status {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 60%;
    padding: 0.25em;
    border: 1px solid #eee;
}

.gradingform_rubric_editform .status.ready {
    background-color: #e7f1c3;
    border-color: #aea;
}

.gradingform_rubric_editform .status.draft {
    background-color: #f3f2aa;
    border-color: #ee2;
}

.gradingform_rubric {
    padding-bottom: 1.5em;
    .criteria {
        height: 100%;
        display: flex;
        width: 100%;
        overflow: auto;
    }
    .criterion {
        border: 1px solid #ddd;
        overflow: hidden;
        &.even td {
            background: #f0f0f0;
        }
        &.odd td {
            background: #fff;
        }
        .description {
            min-width: 150px;
            font-weight: bold;
        }
        .levels {
            padding: 0;
            margin: 0;
            table {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                tbody {
                    padding: 0;
                    margin: 0;
                }
            }
            .level {
                border-left: 1px solid #ddd;
                max-width: 150px;
                .level-wrapper {
                    position: relative;
                }
                &.last {
                    border-right: 1px solid #ddd;
                }
            }
            &.error {
                border: 1px solid red;
            }
        }
        .description,
        .levels .level .definition,
        .levels .level .score {
            &.error {
                background: #fdd;
            }
        }
        .description,
        .levels,
        .remark,
        .levels .level {
            vertical-align: top;
            padding: 3px;
        }
    }
    .plainvalue.empty {
        font-style: italic;
        color: #aaa;
    }
    &.editor {
        .criterion {
            .controls {
                .delete input {
                    width: 24px;
                    height: 24px;
                    background: transparent url([[pix:t/delete]]) no-repeat center;
                    margin: .3em .3em 0 .3em;
                }
                .duplicate input {
                    width: 24px;
                    height: 24px;
                    background: transparent url([[pix:t/copy]]) no-repeat center;
                    margin: .3em .3em 0 .3em;
                }
            }
            /* Make invisible the buttons 'Move up' for the first criterion and
   'Move down' for the last, because those buttons will make no change */
            &.first .controls .moveup input,
            &.last .controls .movedown input {
                display: none;
            }
            .controls,
            .addlevel {
                vertical-align: top;
                padding: 3px;
            }
        }
        .levels .level .delete input {
            width: 24px;
            height: 24px;
            background: transparent url([[pix:t/delete]]) no-repeat center;
        }
        .moveup input {
            width: 24px;
            height: 24px;
            background: transparent url([[pix:t/up]]) no-repeat center;
            margin: .3em .3em 0 .3em;
        }
        .movedown input {
            width: 24px;
            height: 24px;
            background: transparent url([[pix:t/down]]) no-repeat center;
            margin: .3em .3em 0 .3em;
        }
        .addcriterion input,
        .addlevel input {
            background: #fff url([[pix:t/add]]) no-repeat 7px 8px;
            display: block;
            color: #555;
            font-weight: bold;
            text-decoration: none;
        }
        .addcriterion input {
            height: 30px;
            line-height: 29px;
            margin-bottom: 14px;
            padding-left: 20px;
            padding-right: 10px;
        }
        .addlevel input {
            padding-left: 24px;
            padding-right: 8px;
        }
        /* replace buttons with images */
        .delete,
        .duplicate,
        .moveup,
        .movedown {
            input {
                text-indent: -1000em;
                cursor: pointer;
                border: none;
            }
        }
        /* special classes for elements created by rubriceditor.js */
        .hiddenelement {
            display: none;
        }
        .pseudotablink {
            background-color: transparent;
            border: 0 solid;
            height: 1px;
            width: 1px;
            color: transparent;
            padding: 0;
            margin: 0;
            position: relative;
            float: right;
        }
    }
    .options {
        .optionsheading {
            font-weight: bold;
            font-size: 1.1em;
            padding-bottom: 5px;
        }
        .option {
            padding-bottom: 2px;
            label {
                margin-left: 5px;
            }
            .value {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
}

.gradingform_rubric-regrade {
    padding: 10px;
    background: #fdd;
    border: 1px solid #f00;
    margin-bottom: 10px;
}

.gradingform_rubric-restored {
    padding: 10px;
    background: #ffd;
    border: 1px solid #ff0;
    margin-bottom: 10px;
}

.gradingform_rubric-error {
    color: red;
    font-weight: bold;
}

.gradingpanel-gradingform_rubric [aria-checked="true"] {
    border: 1px solid black;
}

.gradingform_guide-fac {
    position: absolute;
    right: -5px;
    top: 5px;
}

.gradingform_guide-regrade {
    padding: 10px;
    background: #fdd;
    border: 1px solid #f00;
    margin-bottom: 10px;
}

.gradingform_guide-restored {
    padding: 10px;
    background: #ffd;
    border: 1px solid #ff0;
    margin-bottom: 10px;
}

.gradingform_guide-error {
    color: red;
    font-weight: bold;
}

.gradingform_guide_editform {
    .status {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 60%;
        padding: 0.25em;
        border: 1px solid #eee;
        &.ready {
            background-color: #e7f1c3;
            border-color: #aea;
        }
        &.draft {
            background-color: #f3f2aa;
            border-color: #ee2;
        }
    }
}

.gradingform_guide {
    .criteria {
        height: 100%;
    }
    .criterion {
        border: 1px solid #ddd;
        overflow: hidden;
        &.even {
            background: #f0f0f0;
        }
        .description {
            width: 100%;
            .criterionmaxscore input {
                width: 20px;
            }
            .criterionname {
                font-weight: bold;
            }
            &.error {
                background: #fdd;
            }
        }
        label {
            font-weight: bold;
            padding-right: 5px;
        }
        .description,
        .remark {
            vertical-align: top;
        }
    }
    .plainvalue {
        &.empty {
            font-style: italic;
            color: #aaa;
        }
        &.editname {
            font-weight: bold;
        }
    }
    &.editor {
        .criterion {
            .controls {
                vertical-align: top;
                .delete input {
                    width: 20px;
                    height: 16px;
                    background: transparent url([[pix:t/delete]]) no-repeat center top;
                    margin-top: 4px;
                }
            }
            /* Make invisible the buttons 'Move up' for the first criterion and 'Move down' for
   the last, because those buttons will make no change */
            &.first.last .controls .delete input,
            &.first .controls .moveup input,
            &.last .controls .movedown input {
                display: none;
            }
            .controls,
            .description,
            .remark {
                padding: 3px;
            }
        }
        /* replace buttons with images */
        .delete input,
        .moveup input,
        .movedown input {
            text-indent: -1000em;
            cursor: pointer;
            border: none;
        }
        .moveup input {
            width: 20px;
            height: 15px;
            background: transparent url([[pix:t/up]]) no-repeat center top;
            margin-top: 4px;
        }
        .movedown input {
            width: 20px;
            height: 15px;
            background: transparent url([[pix:t/down]]) no-repeat center top;
            margin-top: 4px;
        }
        .addcriterion input,
        .addcomment input {
            background: transparent url([[pix:t/add]]) no-repeat;
            background-size: 0.75rem;
            display: block;
            color: #555;
            font-weight: bold;
            text-decoration: none;
            background-position: left 5px top 8px;
            height: 30px;
            line-height: 29px;
            margin-bottom: 14px;
            padding-left: 20px;
            padding-right: 10px;
        }
        /* special classes for elements created by guideeditor.js */
        .hiddenelement {
            display: none;
        }
        .pseudotablink {
            background-color: transparent;
            border: 0 solid;
            height: 1px;
            width: 1px;
            color: transparent;
            padding: 0;
            margin: 0;
            position: relative;
            float: right;
        }
    }
    .options {
        .optionsheading {
            font-weight: bold;
            font-size: 1.1em;
            padding-bottom: 5px;
        }
        .option {
            padding-bottom: 2px;
            label {
                margin-left: 5px;
            }
            .value {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
    .commentheader {
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 5px;
    }
    table {
        width: 100%;
    }
    .descriptionreadonly {
        vertical-align: top;
    }
    .criteriondescriptionmarkers {
        width: 300px;
    }
    .markingguideremark {
        margin: 0;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .criteriondescriptionscore {
        display: inline;
    }
    .score {
        label {
            display: block;
        }
        input {
            margin: 0;
            width: auto;
        }
    }
}

.jsenabled .gradingform_guide {
    .markingguidecomment {
        cursor: pointer;
        &:before {
            content: url([[pix:t/add]]);
            padding-right: 2px;
        }
    }
    .criterionnamelabel {
        display: none;
    }
    .criterionshortname {
        font-weight: bold;
    }
}

.gradingform_guide_comment_chooser {
    max-height: 80vh;
    overflow-y: auto;
}
.gradingform_guide-frequent-comments {
    position: absolute;
    top: 7px;
    right: 0;
}

.path-grade-report-grader {
    .gradeparent {
        position: relative;
        table {
            border: 1px solid #ccc;
            border-collapse: separate;
            border-spacing: 0;
            border-bottom-width: 0;
            border-right-width: 0;
            margin-bottom: 2em;
            height: 100%;
            .action-menu {
                display: inline-block;
                margin-right: -0.5rem;
                padding-left: 0.5rem;
            }
            .heading .action-menu {
                padding-left: 0;
            }
        }
        .cell {
            border: 1px solid #ccc;
            border-top-width: 0;
            border-left-width: 0;
            padding: 0.5rem 1rem;
            vertical-align: top;
            height: 100%;
        }
        .floater {
            display: none;
        }
        .floating {
            display: block;
        }
        .heading .cell,
        .avg .cell,
        .user.cell {
            font-size: 14px;
            font-weight: normal;
        }
        .user.cell {
            white-space: nowrap;
            .userpicture {
                border: none;
                vertical-align: middle;
            }
        }
        .highlightable.cell {
            min-width: 200px;
            &.collapsed {
                min-width: unset;
            }
        }
        /**
         * The footer's floating cells.
         */
        .avg.floating .cell {
            border-top-width: 1px;
        }
        /**
         * Content styling.
         */
        .heading .cell .iconsmall {
            /* Fixes inconsistencies in cell height on IE. */
            padding-top: 0;
            padding-bottom: 0;
        }
        .sorticon {
            vertical-align: middle;
            margin: 0;
        }
        td.grade_type_value,
        td.grade_type_value input,
        td.grade_type_value div {
            text-align: right;
            margin-left: auto;
        }
        .gradevalue {
            display: inline-block;
        }
        tr:nth-child(n) td.ajaxoverridden:nth-child(n) {
            /* Made very specific to override the default stripped style of the table. */
            background-color: #ffe3a0;
        }
        .excludedfloater {
            font-weight: bold;
            color: red;
            font-size: 9px;
            float: left;
        }
        .category {
            text-align: left;
        }
        /**
         * Editing fields.
         * MDL-74286 - width 100% pushes action menu out of cell.
         */
        select {
            text-overflow: ellipsis;
            min-width: 8rem;
        }
        .text {
            border: 1px solid #666;
            width: auto;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        /**
         * The footer's header.
         */
        .range .header,
        .avg .header,
        .groupavg .header {
            font-weight: bold;
            text-align: right;
        }
    }
    .overriddengrade {
        color: #495057;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .gradepass {
        color: #357a32;
    }
    .gradefail {
        color: #ca3120;
    }
    .grade_icons,
    .category_grade_icons {
        white-space: nowrap;
        margin-top: 0.5rem;
    }
    .grade_type_value .grade_icons {
        margin-left: auto;
    }
    .grade_icons .icon {
        margin-right: 1rem;
        font-size: 14px;
        width: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    .dropdown-item {
        text-align: left;
    }
    .heading {
        .header,
        .userfield {
            white-space: nowrap;
        }
        .gradeitemheader {
            text-indent: -2rem;
            padding-left: 2rem;
            padding-top: 6px;
            .itemicon {
                text-align: right;
            }
        }
    }
    .gradeitemheader {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        vertical-align: middle;
    }
    .dropdown-menu {
        width: max-content;
    }
    .initialsdropdown {
        width: 460px;
        &::after {
            content: '';
        }
    }
    .usersearchwidget {
        pointer-events: none;
        &::after {
            content: '';
        }
        input {
            pointer-events: initial;
            z-index: 1;
        }
        button,
        a {
            pointer-events: initial;
        }
    }
    .usersearchdropdown {
        /*Extra height to allow non result items.*/
        max-height: 400px;
        width: 300px;
        pointer-events: all;
        padding: 0;
        .unsearchablecontentcontainer {
            position: sticky;
            bottom: 0;
            background-color: white;
        }
        .footer {
            border-top: 1px solid #dee2e6;
            font-size: 90%;
        }
    }
    .header,
    td.userfield div {
        padding-top: 6px;
    }
}

.collapsecolumndropdown.show {
    width: 300px;
    max-height: 300px;
}

@media only screen and (min-width: 768px) {
    .path-grade-report-grader .gradeparent table {
        padding-right: 6em;
    }
}

/* History */

.path-grade-report-history {
    div.gradeparent {
        overflow-x: scroll;
    }
    .singlebutton {
        div,
        input[type="button"] {
            margin: 0;
        }
    }
}

/* User Selector */
.yui3-gradereport_history_usp-hidden {
    display: none;
}

.gradereport_history_usp {
    .usp-content {
        position: relative;
    }
    .usp-ajax-content {
        overflow: auto;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .usp-ajax-content,
    .usp-loading-lightbox {
        height: 375px;
    }
    .usp-loading-lightbox {
        background-color: #fff;
        opacity: .5;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        img {
            margin-top: 100px;
            opacity: 1;
        }
    }
    .usp-search {
        text-align: center;
    }
    .usp-user {
        width: 100%;
        text-align: left;
        border-top: 1px solid #eee;
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
        .details {
            margin-left: 67px;
            padding: 3px 6px 0 6px;
            word-wrap: break-word;
            label {
                margin: 0;
            }
        }
    }
    .usp-userpicture {
        cursor: pointer;
    }
    .usp-picture {
        margin: 6px 3px 0 3px;
        float: left;
    }
    .usp-first-added {
        border-top: 1px solid #bbb;
    }
    .usp-checkbox {
        text-align: center;
        float: left;
        padding: 11px 6px 0 6px;
        input[type=checkbox] {
            margin: 0;
        }
    }
    .usp-more-results {
        padding: 5px;
        border-top: 1px solid #bbb;
    }
    .usp-finish {
        padding-top: 1em;
        text-align: center;
        input {
            margin: 0;
        }
    }
}
.path-grade-report-singleview {
    div.reporttable {
        margin: 20px 0 30px 0;
        padding: 10px 10px;
        background-color: #f8f9fa;
        text-align: center;
        div.singleselect form div {
            text-align: center;
        }
        table.reporttable {
            margin: 0 auto 15px auto;
        }
        form div {
            text-align: left;
        }
        h2 {
            text-align: left;
        }
        form div.singleview_bulk {
            display: inline-block;
            text-align: left;
            margin-bottom: 1em;
        }
        form .singleview_bulk > div.enable {
            margin-bottom: 0.5em;
            text-align: left;
        }
    }
    div.groupselector,
    div.selectitems {
        display: block;
        text-align: right;
        clear: both;
    }
    div.singleselect + div.singleselect select,
    div.groupselector select {
        margin-right: 0;
    }
    .overrideexcludecheck {
        width: 14.75px;
        height: 12px;
        color: #2ca14f;
    }
    .report-navigation .container {
        max-width: 1060px;
        margin-left: 0;
    }
    .zero-state img {
        width: 185px;
    }
    .reporttable {
        width: 100%;
        .generaltable th,
        .generaltable td {
            text-align: left;
            vertical-align: middle;
            border: none;
        }
        thead th,
        thead td {
            white-space: nowrap;
            border: none;
        }
        tbody tr,
        tbody tr:nth-of-type(odd),
        tbody tr:hover {
            color: inherit;
            background-color: white;
            border-top: none;
            border-bottom: 1px solid #dee2e6;
        }
        tbody th,
        tbody td.range {
            white-space: nowrap;
            font-weight: normal;
        }
        tbody th > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0 2px;
        }
        .gradeitem span.small {
            font-size: 70%;
        }
        div.categoryitem .gradeitemheader,
        div.courseitem .gradeitemheader {
            font-weight: bold;
        }
    }
    .itemnav {
        font-size: small;
        display: inline;
        padding-bottom: 0.5em;
        &.previtem {
            float: left;
        }
    }
    div.nextitem {
        float: right;
    }
    .singleview_bulk {
        > fieldset {
            display: block;
        }
        div > *,
        fieldset > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }
    .singleselect select,
    div.reporttable form .singleview_bulk select,
    div.reporttable form .singleview_bulk input {
        margin-left: 10px;
        margin-right: 10px;
    }
    .search-widget[data-searchtype="user"] .userinitials {
        width: 40px;
        height: 40px;
    }
}

#bulkinsertmodal {
    width: 181px;
    height: 39px;
    top: 309px;
    border-radius: 4px;
}

.searchresultitemscontainer {
    max-height: 150px;
    height: 150px;
    overflow: auto;
}

.path-grade-report-user {
    #graded_users_selector {
        float: right;
        margin-bottom: 5px;
    }
    .view_users_selector {
        clear: both;
        float: right;
        margin-bottom: 5px;
    }
    #graded_users_selector .singleselect label,
    .view_users_selector .singleselect label {
        display: inline-block;
    }
    .search-widget[data-searchtype="user"] .userinitials {
        width: 40px;
        height: 40px;
    }
    .user-navigation .container {
        max-width: 767px;
    }
    .view-user-selector {
        label {
            display: block;
            font-size: 80%;
            margin: 0;
        }
        .dropdown-toggle {
            padding: 0;
            font-weight: bold;
        }
    }
    .zero-state img {
        width: 185px;
    }
}

.path-grade-report-user,
.grade-report-user {
    .user-grade {
        width: 100%;
        thead th {
            vertical-align: bottom;
            border: none;
            text-align: left;
            background-color: #f8f9fa;
        }
        td {
            min-width: 4.5em;
            background-color: #f8f9fa;
            border: none;
            vertical-align: middle;
            &.item {
                background-color: white;
                border-top: 1px solid #dee2e6;
                border-bottom: 1px solid #dee2e6;
            }
        }
        .b1l {
            padding: 0;
            width: 24px;
            min-width: 24px;
        }
        tbody .column-itemname {
            padding-left: 24px;
            padding-right: 8px;
        }
        tbody tr {
            background-color: #f8f9fa;
            &:hover {
                color: inherit;
                background-color: #f8f9fa;
            }
            &.spacer {
                height: 0.5rem;
            }
        }
        .column-itemname.baggt,
        .column-itemname.baggb {
            padding-left: 0;
        }
        .baggt,
        .baggb {
            font-weight: bold;
            background-color: #f8f9fa;
            border: none;
        }
        th.column-itemname:not(.header,.category,.baggt,.baggb) {
            background-color: white;
            font-weight: normal;
            border-bottom: 1px solid #dee2e6;
        }
        th.category {
            background-color: white;
            border: 1px solid #dee2e6;
            padding-left: 10px;
            font-weight: bold;
            a[aria-expanded="true"] .expanded,
            a[aria-expanded="false"] .collapsed {
                display: none;
            }
            a.toggle-category {
                height: 24px;
                width: 24px;
                font-size: 12px;
                line-height: 24px;
                margin-right: 3px;
                i {
                    font-size: 12px;
                    width: 12px;
                    height: 12px;
                    color: #1d2125;
                    margin: 0;
                }
            }
        }
        .column-itemname .small {
            font-size: 70%;
        }
        tr[data-hidden="true"] {
            display: none;
        }
        .category div {
            min-height: 30px;
            align-items: center;
        }
    }
    .user-report-container {
        margin: 20px 0 30px 0;
        padding: 10px 10px;
        background-color: #f8f9fa;
    }
}

@media print {
    .path-grade-report-user,
    .grade-report-user {
        .user-grade th.category {
            border-left: none;
            border-right: none;
        }
    }

    .path-grade-report-user .user-grade th.category a.toggle-category,
    .grade-report-user .user-grade th.category a.toggle-category
    .path-grade-report-user #page-footer,
    .path-grade-report-user .user-grade td.column-grade .action-menu {
        display: none;
    }
}
